@media (min-width: 768px) {
  #navbar, #trending-bar, #main {
    background-repeat: no-repeat;
    background-size: 9%;
    width: 1100px;
  }
  #navbar-brand-column {
    float: left;
    width: 54.16667%;
  }
  #navbar-brand {
    height: auto;
    padding: 22px 26px 10px 15px;
    width: 36%;
  }
  #search-box {
    margin-bottom: 10px;
    margin-top: 31px;
  }
  #list-group {
    width: 45.83333%;
  }
}

body {
  background-color: #eff1f4;
}

#navbar {
  border-radius: 0;
  background-color: #FA320A;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  color: #343434;
  display: block;
  font-size: 16px;
  line-height: 1.25;
  padding: 0;
  margin: 0 auto;
}

#navbar:after, #navbar:before {
  display: table;
  content: " ";
}

.pull-right {
  float: right!important;
  margin-right: 10px;
}

.header_links {
  vertical-align: middle;
  font-family: 'Franklin Gothic FS Med',sans-serif;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 6px;
}

.header_links:hover {
  color: rgba(0,0,0,.6);
  text-decoration: none;
}

#sign-up, #login {
  padding-right: 3px;
  font-weight: 700;
}

#navbar-brand-column {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar-brand {
  float: left;
  font-size: 18px;
  line-height: 20px;
}

form {
  display: block;
  margin-top: 0em;
}

#search-box {
  width: 64%;
  display: inline-block;
  border-radius: 5px;
  position: static;
  border-collapse: separate;
}

#search-term {
  border: none;
  box-shadow: none;
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  font-size: 16px;
  line-height: 1.25;
  color: #555;
}

#menu:after {
  display: table;
  content: " ";
  box-sizing: border-box;
}

.list-group {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 520;
  display: inline-block
}

.list-group-item {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 0px;
  border: 1px solid transparent;
}

.menu-list {
  background-color: #FA320A;
}

.menu-item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  padding: 0;
  text-align: center;
}

.menu-header {
  display: block;
  padding: 14px 10px 17px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-family: "BenchNine",Impact,Arial,sans-serif;
}

.menu-header:hover {
  color: rgba(0,0,0,.6);
  text-decoration: none;
}

#trending-bar {
  background-color: rgba(0,0,0,.6);
  color: #fff;
  padding: 0px;
  font-size: 14px;
  opacity: .9;
  height: 28px;
  margin: 0 auto;
  border: 1px solid transparent;
  display: block;
  position: relative;
}

.trending-header {
  color: #FFE400;
  font-family: "BenchNine"!important;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.trending-item {
  color: #fff;
  font-size: 14px;
  padding-right: 15px;
}

.trending-item:hover {
  color: #FFE400;
  text-decoration: none;
}

#main {
  padding: 0px;
  margin: 0 auto;
  border: 1px solid transparent;
  display: block;
  position: relative;
}

.sidebar-col {
  background-color: #fff;
  height: 5688.28px;
  padding-left: 20px;
  padding-right: 10px;
  width: 330px;
  float: left;
  min-height: 1px;
  position: relative;
  display: block;
  border: 1px solid transparent;
}

#sidebar {
  position: relative;
  width: 300px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.sidebar-header {
  line-height: 1.25;
  font-family: 'Neusa Next Pro Compact',Impact,Arial,sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000!important;
  padding-top: 10px;
  padding-left: 10px;
}

.sidebar-content {
  margin: 0 10px;
  opacity: .8;
}

.movie-list {
  line-height: 24px;
  margin-top: 10px;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
  border-color: grey;
  color: #343434;
  font-size: 14px;
  line-height: 24px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.left-col {
  width: 60px;
  cursor: pointer;
  padding: 0;
  display: table-cell;
}

.mid-col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  padding-left: 5px;
  font-family: 'Franklin Gothic FS Book',sans-serif;
  display: table-cell;
}

.right-col {
  color: #545454;
  padding: 0;
  font-family: 'Franklin Gothic FS Book',sans-serif;
  font-size: 14px;
  text-align: right;
  text-transform: uppercase;
  width: 65px;
  cursor: pointer;
  display: table-cell;
}

.movie-link {
  color: #343434;
  background-color: transparent;
}

.movie-link:hover {
  color: #2466d4;
  text-decoration: none;
}

.rt-score {
  display: inline-block;
  text-align: center;
  width: 31px;
  font-size: 16px;
  margin-left: 4px;
}

.no-score {
  display: inline-block;
  width: 59px;
  color: #545454;
  font-size: 9px;
}

#original_rt_logo {
  width: 100%;
  position: relative;
  right: 10px;
  bottom: 5px;
  vertical-align: middle;
  border: 0;
}

.tiny {
  height: 16px;
  margin-bottom: 3px;
  width: 16px;
}

.view-all {
  color: #2466d4;
}

.view-all:hover {
  color: #53bbf1!important;
  text-decoration: none;
}