@media (min-width: 768px) {
  .navbar {
    background-repeat: no-repeat;
    background-size: 9%;
  }
  .col-sm-13 {
    width: 54.16667%;
  }
  .col-sm-11 {
    width: 45.83333%;
  }
  #navbar-brand-column {
    float: left;
  }
  #navbar-brand {
    height: auto;
    padding: 22px 26px 10px 15px;
    width: 36%;
  }
  .search-box {
    margin-bottom: 10px;
    margin-top: 31px;
  }
}

.navbar {
  border-radius: 0;
  background-color: #FA320A;
  margin-top: 20px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  color: #343434;
  display: block;
  font-size: 16px;
  line-height: 1.25;
  padding: 4px 2px;
}

.navbar:after, .navbar:before {
  display: table;
  content: " ";
}

.pull-right {
  float: right!important;
}

.header_links, .header_links:hover {
  vertical-align: middle;
  font-family: 'Franklin Gothic FS Med',sans-serif;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  padding: 2px 6px;
}

#sign-up, #login {
  padding-right: 3px;
  font-weight: 700;
}

#navbar-brand-column {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar-brand {
  float: left;
  font-size: 18px;
  line-height: 20px;
}

img {
  width: 100%;
  position: relative;
  right: 10px;
  bottom: 5px;
  vertical-align: middle;
  border: 0;
}

form {
  display: block;
  margin-top: 0em;
}

.search-box {
  width: 64%;
  display: inline-block;
  border-radius: 5px;
  position: static;
  display: table;
  border-collapse: separate;
}

#search-term {
  border: none;
  box-shadow: none;
  width: 100%;
  border-radius: 5px 0 0 5px;
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 0;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  font-size: 16px;
  line-height: 1.25;
  color: #555;
}

#search-btn {
  vertical-align: middle;
  position: relative;
  border-radius: 0 5px 5px 0;
  border: none;
  height: 34px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.25;
  touch-action: manipulation;
  border-collapse: separate;
  background-image: url("/img/search-btn.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#menu {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#menu:after {
  display: table;
  content: " ";
  box-sizing: border-box;
}

.menu-list {
  display: block;
  list-style-type: none;
  margin: 0 0 0 -5px;
  padding: 0;
  width: 520px;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.menu-item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  padding: 0;
  position: static;
  text-align: center;
}

.menu-header {
  display: block;
  margin: 0;
  padding: 14px 10px 17px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-family: "BenchNine",Impact,Arial,sans-serif;
}